.panel {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
}

.panel .panel-heading {
  border-radius: 0px;
  border: 0px;
  color: white;
}

.form-group.control-buttons {
  float: right;
  margin-right: 0px;
  margin-top: -1px;
}

input[id="bpsys"] {
  margin-bottom: 10px;
}

.panel-heading.weight { background-color: #ad78cc; }
.panel-heading.heart { background-color: #d57272; }
.panel-heading.food { background-color: #61ce5c; }
.panel-heading.exercise { background-color: #d9bc6c; }
.panel-heading.water { background-color: #59c2e6; }
