<!DOCTYPE html>
<html lang="en" ng-app="fitStats">
<head>
  <meta charset="utf-8">
  <title>FitStats</title>

  <link rel='stylesheet' type="text/css" href='http://fonts.googleapis.com/css?family=Cabin:400,600'>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="stylesheet" type="text/css" href="css/day-select.css">
  <link rel="stylesheet" type="text/css" href="css/blocks.css">
  <link rel="stylesheet" type="text/css" href="css/sticky-footer.css">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FitStats</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="fa fa-tachometer"></i>Dashboard</a></li>
          <li><a href="#about"><i class="fa fa-bar-chart-o"></i>Stats</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="">Settings</a></li> -->
          <!-- <li><a href="">Log Out</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav><!-- end navbar -->


  <div class="container" ng-controller="Main">

    <!-- Day Selector -->
    <div class="row day-select">
      <div class="col-md-offset-3 col-md-6">
        <i class="fa fa-chevron-left"></i>
        <h2>TODAY</h2>
        <h4>{{ currentDay.date | date: 'MMMM d, yyyy' }}</h4>
        <i class="fa fa-chevron-right"></i>
      </div>
    </div><!-- end day selector -->

    <div class="row">
      <!-- First Column -->
		  <div class="col-md-4">

        <!-- Weight Block -->
        <div class="panel panel-default weight">

            <div class="panel-heading">WEIGHT</div>
            <div class="panel-body">

              <!-- weight form -->
              <form role="form" ng-controller="WeightController" ng-submit='submit("weight", 1)'>
                <label for="weight">Weight:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.weight }}<span class="suffix">lbs</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="weight" placeholder="Weight in lbs" ng-model="formData.weight">
                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.weight"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              </form><!-- end weight form -->

              <!-- body fat form -->
              <form role="form" ng-controller="BFController" ng-submit='submit("bf", 1)'>
                <label for="bf">Body Fat:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.bf }}<span class="suffix">%</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="bf" placeholder="Body Fat as %" ng-model="formData.bf">

                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.bf"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              </form><!-- end body fat form -->

            </div>

        </div><!-- end weight block -->

        <!-- Heart Block -->
        <div class="panel panel-default heart">

            <div class="panel-heading">HEART</div>
            <div class="panel-body">

              <!-- heart rate form -->
              <form role="form" ng-controller="HRController" ng-submit='submit("hr", 0)'>
                <label for="hr">Resting HR:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.hr }}<span class="suffix">bpm</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="hr" placeholder="Heart Rate in BPM" ng-model="formData.hr">

                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.hr"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              </form><!-- end heart rate form -->

              <!-- blood pressure form -->
              <form role="form" ng-controller="BPController" ng-submit='submitBoth()'>
                <label for="bps">BP:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.bps }} / {{ currentDay.bpd }}<span class="suffix">mmHg</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="bps" placeholder="Systolic" ng-model="formData.bps">
                    <input type="text" class="form-control" id="bpd" placeholder="Diastolic" ng-model="formData.bpd">

                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.bps && formData.bpd"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              </form><!-- end blood pressure form -->

            </div>
        </div><!-- end heart block -->

      </div><!-- end first column -->

      <!--Second Column -->
      <div class="col-md-4">

        <!-- Food Block -->
        <div class="panel panel-default food">

            <div class="panel-heading">FOOD</div>

            <div class="panel-body">

              <!-- Food form -->
              <form role="form" ng-controller="FoodController" ng-submit='submitAll()'>
                <label for="calories">Calories:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.calories }}<span class="suffix">kcal</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="calories" placeholder="Calories" ng-model="formData.calories">
                  </div>
                </div>

                <label for="protein">Protein:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.protein }}<span class="suffix">g</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="protein" placeholder="Protein in grams" ng-model="formData.protein">
                  </div>
                </div>

                <label for="carbs">Carbs:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.carbs }}<span class="suffix">g</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="protein" placeholder="Carbs in grams" ng-model="formData.carbs">
                  </div>
                </div>

                <label for="fat">Fat:</label>

                <div class="data-display-and-input">
                  <div class="display" ng-if="!inputMode">
                    <span class="display">{{ currentDay.fat }}<span class="suffix">g</span></span>
                  </div>

                  <div class="input" ng-if="inputMode">
                    <input type="text" class="form-control" id="fat" placeholder="Fat in grams" ng-model="formData.fat">
                  </div>
                </div>

                <div class="controls">
                  <button type="submit" ng-if="inputMode && formData.calories && formData.protein && formData.carbs && formData.fat"><i class="fa fa-floppy-o"></i></button>
                  <button><i class="fa fa-pencil edit" ng-if="!inputMode" ng-click="edit()"></i></button>
                </div>

              </form><!-- end food form -->

            </div>

        </div><!-- end food block -->

      </div><!-- end second column -->

      <!-- Third Column -->
		  <div class="col-md-4">

        <div class="panel panel-default exercise">
          <div class="panel-heading">EXERCISE</div>
          <div class="panel-body">
            Coming Soon
          </div>
        </div>

        <div class="panel panel-default water">
          <div class="panel-heading">WATER</div>
          <div class="panel-body">
            Coming Soon
          </div>
        </div>

      </div><!-- end third column -->

    </div><!-- end row -->

  </div><!-- end container -->

  <div class="footer">
    <div class="container">
      <p class="text-muted">&copy; 2014 Andrew Zey</p>
    </div>
  </div><!-- end footer -->

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
  <script src="bower_components/ng-Fx/dist/ng-Fx.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/chartjs/Chart.min.js"></script>
	<script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/factories.js"></script>
</body>
</html>
