html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #535353;
}

.container .text-muted {
  margin: 20px 0;
  color: #f0f3f6;
  opacity: .75;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

code {
  font-size: 80%;
}
